In [1]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split
df =pd.read_csv('train.csv')
df

,Id,age,years_of_experience,lesson_price,qualification,physics,chemistry,biology,english,geography,history,mean_exam_points
0,0,40.0,0.0,1400.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,61
1,1,48.0,4.0,2850.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,76
2,2,39.0,0.0,1200.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,53
3,3,46.0,5.0,1400.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,54
4,4,43.0,1.0,1500.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,57
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,44.0,0.0,1700.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,83
9996,9996,51.0,0.0,1700.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,58
9997,9997,34.0,1.0,1250.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,62
9998,9998,33.0,3.0,1100.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,56
9999,9999,35.0,0.0,1450.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,52

Определяем функции для вычисления ошибки и градиентного спуска

In [2]:
def calc_mse(y, y_pred):
    err = np.mean((y - y_pred)**2)
    return err

def gradient_descent(X, y, iterations, eta=1e-4):
    W = np.random.randn(X.shape[1])
    n = X.shape[0]
    
    for i in range(0, iterations):
        y_pred = np.dot(X, W)
        err = calc_mse(y, y_pred)
        dQ = 2/n * X.T @ (y_pred - y) # градиент функции ошибки
        W -= (eta * dQ)
        if i % (iterations / 10) == 0:
            print(f'Iter: {i}, weights: {W}, error {err}')
    print(f'Final MSE: {calc_mse(y, np.dot(X, W))}')
    return W

Приводим типы

In [3]:
df['mean_exam_points']= df['mean_exam_points'].astype('float64')

Делим на тренировочную и валидационную выборку

In [4]:
X = df[df.columns[1:-1]].to_numpy()
y = df['mean_exam_points'].values




train_X, test_X, train_y, test_y = train_test_split(X, np.squeeze(y),
                                                    test_size=0.75,
                                                    random_state=42)

Обучаем модель

In [8]:
W = gradient_descent(train_X, train_y, 20000000, 3e-7)

Iter: 0, weights: [-0.48837317 -1.16523853 -0.49067821 -2.27729085 -0.46238882  1.04854374
 -0.38449027  0.43483459 -0.00927632 -2.03510991], error 1200192.2387495972
Iter: 2000000, weights: [ 0.4901204  -0.05495788  0.02339815  0.13005912  1.02618065  1.01497535
 -0.05704554  0.54336977 -0.0069167  -1.96712752], error 139.36144196494467
Iter: 4000000, weights: [ 4.90900903e-01 -1.88320759e-03  2.12232278e-02  1.92902582e+00
  2.13525056e+00  9.87733449e-01  2.30143635e-01  6.47739202e-01
  2.12349324e-03 -1.89840117e+00], error 131.692087421705
Iter: 6000000, weights: [ 0.49158434  0.01717175  0.01962631  3.26328532  2.9648256   0.96669085
  0.4867267   0.74634426  0.01402411 -1.82941077], error 127.41231279517706
Iter: 8000000, weights: [ 0.49196998  0.0306723   0.01844177  4.25267855  3.58539956  0.95039328
  0.71595131  0.83944437  0.02790578 -1.76059754], error 125.01123783007804
Iter: 10000000, weights: [ 0.49214507  0.04059039  0.01756269  4.986344    4.04967976  0.93772955
  0.92065843  0.92735414  0.04316615 -1.69227986], error 123.65427551037054
Iter: 12000000, weights: [ 0.49217786  0.04787864  0.01691019  5.53038932  4.39707195  0.92785712
  1.10341241  1.01036955  0.05935655 -1.62468587], error 122.87923457503452
Iter: 14000000, weights: [ 0.49211684  0.05322844  0.01642576  5.93383574  4.65703906  0.92013594
  1.26652473  1.08876805  0.07614153 -1.55797708], error 122.42983758647581
Iter: 16000000, weights: [ 0.49199618  0.05715072  0.016066    6.23303336  4.85161148  0.91407867
  1.41207491  1.16281016  0.09327006 -1.49226584], error 122.16373252086872
Iter: 18000000, weights: [ 0.49183971  0.06002314  0.01579873  6.45493584  4.99726326  0.90931329
  1.54193079  1.23274087  0.1105543  -1.42762823], error 122.00164988608695
Final MSE: 121.89929020880757

In [10]:
def predict(X, W):
    return np.dot(X, W)

In [11]:
def r2_score(y_pred, y):
    ssr = np.sum((y_pred - y)**2)
    sst = np.sum((y - np.mean(y))**2)
    return 1 - (ssr/sst)

Предсказание и вычисление метрики R2 на тренировочной выборке:

In [12]:
y_pred = predict(train_X, W)
r2_score(y_pred, train_y)

0.429623494194601

И на валидационной:

In [13]:
y_pred_test = predict(test_X, W)
r2_score(y_pred_test, test_y)

0.4398615911859015

In [ ]:
Метрики не самые

In [14]:
df_test =pd.read_csv('test.csv')
df_test

,Id,age,years_of_experience,lesson_price,qualification,physics,chemistry,biology,english,geography,history
0,10000,46.0,3.0,1050.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,10001,43.0,3.0,1850.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10002,52.0,1.0,1550.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,10003,57.0,6.0,2900.0,3.0,1.0,0.0,1.0,0.0,0.0,0.0
4,10004,44.0,4.0,3150.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,19995,42.0,0.0,1500.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,19996,51.0,2.0,2200.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0
9997,19997,33.0,5.0,1100.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,19998,48.0,0.0,1750.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,19999,49.0,5.0,2000.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0

In [29]:
X = df_test[df_test.columns[1:]].to_numpy()

In [30]:
y_pred_res = predict(X, W)
df_test['Id'].shape

(10000,)

In [31]:
df_res =pd.DataFrame()

In [32]:
df_res.insert(0, 'Id', df_test['Id'])

In [33]:
df_res.insert(1, 'mean_exam_points', y_pred_res)

In [38]:
df_res.to_csv('predictions.csv', index=False)